<form ngForm #form="ngForm">
  <p-card>
    <ng-template pTemplate="title">
      Zaloguj się na swoje konto
    </ng-template>
    <span class="p-float-label">
      <input required email id="email-input" name="email" type="email" pInputText [(ngModel)]="userDetails.email">
      <label for="email-input">Email</label>
    </span>
    <span class="p-float-label">
      <p-password required id="password-input" name="password" [toggleMask]="true" [feedback]="false" [(ngModel)]="userDetails.password"></p-password>
      <label for="password-input">Hasło</label>
    </span>
    <ng-template pTemplate="footer">
      <div class="card-footer">
        <button pButton type="submit" label="Zaloguj" (click)="onLogin()"></button>
        <a routerLink="../signup">Rejestracja</a>
      </div>
    </ng-template>
  </p-card>
</form>
