<div class="container">
  <div class="card col-12 my-4">
    <div class="row mt-2">
      <div class="col-xxl-6">
        <p-carousel [value]="reservation?.attachments">
          <ng-template let-attachment pTemplate="item">
            <img
              class="ratio-4x3 img-thumbnail upload-content"
              [src]="attachment?.file"
              alt=""
            />
          </ng-template>
        </p-carousel>
      </div>
      <div class="col-xxl-6 px-4 px-xxl-2">
        <p class="lead">{{ reservation?.name }}</p>
        <p class="card-text">
          <small class="text-muted lead me-5">{{
            reservation?.capacity + " os."
          }}</small>
          <small class="text-muted lead">{{
            reservation?.totalPrice + " zł"
          }}</small>
        </p>
        <p>{{ reservation?.description }}</p>
        <p>
          <span
            class="d-inline-block col-6 col-md-4 mb-2"
            *ngFor="let featureId of allFeatures"
          >
            <i-bs
              [name]="
                roomContainsFeature(featureId, reservation?.features)
                  ? 'check2'
                  : 'x'
              "
              [ngClass]="
                roomContainsFeature(featureId, reservation?.features)
                  ? 'text-success'
                  : 'text-danger'
              "
              class="me-1"
            ></i-bs>
            <span>{{ featuresTranslationMap[featureId]?.label }}</span>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 my-4">
      <div class="card border-warning mb-3">
        <div class="card-header">Rezerwacja</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 w-auto">
              <p-calendar
                [inline]="true"
                [selectionMode]="'range'"
                [firstDayOfWeek]="1"
                [ngModel]="reservationRange.length ? reservationRange : null"
                [disabled]="true"
              ></p-calendar>
            </div>
            <div class="col-12 col-md-6">
              <p class="card-text pt-2 text-center">{{ reservation?.dateFrom | date:'fullDate' }} - {{ reservation?.dateTo | date:'fullDate' }}</p>
              <p class="card-text pt-0 pt-md-2 text-center">Cena: {{ (reservation?.totalPrice | number:'1.2-2') + ' zł' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mb-4">
      <div class="card">
        <div class="col-12">
          <p-carousel
            [value]="reservation?.opinions"
            [numVisible]="2"
            [numScroll]="1"
          >
            <ng-template pTemplate="header">
              <h5>Opinie o {{ reservation?.hotelName }}</h5>
            </ng-template>
            <ng-template let-opinion pTemplate="item">
              <div class="card h-100 mx-2">
                <div class="card-body">
                  <h5
                    class="card-title d-flex justify-content-between flex-wrap"
                  >
                    <span>{{ opinion?.username }}</span>
                    <div class="d-inline-block mt-2 mt-xxl-0">
                      <p-rating
                        [ngModel]="opinion?.rate"
                        [cancel]="false"
                        [readonly]="true"
                      ></p-rating>
                    </div>
                  </h5>
                  <p class="card-text mt-4">{{ opinion?.comment }}</p>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="col-12">
          <div class="mx-3">
            <textarea
              class="w-100"
              [maxLength]="250"
              [rows]="2"
              pInputTextarea
              name="opinion"
              autoResize="autoResize"
              [(ngModel)]="opinionRequest.comment"
            ></textarea>
          </div>
          <p-rating
            class="col-12 mt-3 pe-3 d-block text-end"
            [(ngModel)]="opinionRequest.rate"
            [cancel]="false"
          ></p-rating>
          <button
            type="submit"
            class="btn btn-primary col-12 m-3 w-auto float-end"
            (click)="onOpinionAdd()"
          >
            Dodaj opinię
          </button>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="card border-warning mb-3">
        <div class="card-header">Hotel</div>
        <div class="card-body">
          <h5 class="card-title">{{ reservation?.hotelName }}</h5>
          <p class="card-text">
            <small class="text-muted d-block">{{ reservation?.city }}</small>
            <small class="text-muted">{{ reservation?.street }}</small>
          </p>
          <hr />
          <p class="card-text">
            <small class="text-muted d-block">{{
              reservation?.phoneNumber
            }}</small>
            <small class="text-muted">{{ reservation?.email }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
