<nav class="navbar navbar-expand-md bg-primary navbar-dark py-3 fixed-top">
  <div class="container">
    <a [routerLink]="'.'" class="navbar-brand">Strona główna</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" >
          <a [routerLink]="'hotel-search'" class="nav-link">Hotele</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="'login'" class="nav-link">Logowanie</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a [routerLink]="'reservations'" class="nav-link">Moje rezerwacje</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a [routerLink]="" (click)="onLogout()" class="nav-link">Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<p-toast position="top-center"></p-toast>

<p-confirmDialog [acceptLabel]="'Usuń'" [rejectLabel]="'Nie usuwaj'" [closable]="false"></p-confirmDialog>
